Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-Migrate
Flask-Cors

python-dotenv

pandas
numpy
scikit-learn
xgboost
tensorflow

matplotlib
seaborn
plotly

nltk
textblob
sentence-transformers

joblib

requests

gunicorn