/* ===========================
   STATS SECTION
=========================== */

.stats-section{

    margin-top:40px;

}

.stat-card{

    background:rgba(255,255,255,.7);

    backdrop-filter:blur(15px);

    border-radius:20px;

    padding:35px;

    box-shadow:var(--shadow-sm);

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-8px);

    box-shadow:var(--shadow-md);

}

.stat-card h2{

    color:var(--primary);

    font-size:3rem;

    font-weight:700;

}

.stat-card p{

    margin-top:10px;

    color:var(--text-light);

    font-size:1rem;

}